h1 {
    margin: 20px 0 10px 0;
    font: normal normal 700 24px Georgia, "Times New Roman", serif;
    color: #0080ff;
    text-align: center;
}

header p {
    margin: 0;
    font: normal normal 700 18px Georgia, "Times New Roman", serif;
    text-align: center;
}
header p:last-child {
    margin: 20px 0 0 0;
}

header ul {
    display: flex;
    justify-content: center;

    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

header ul li:not(:first-child):before {
    content: " | ";
    color: #000000;
}

header ul li a {
    margin: 10px 10px 20px 10px;
    font: normal normal 700 12px Georgia, "Times New Roman", serif;
    color: #0080ff;
    text-decoration: none;
}