h1 {
    font: normal normal 700 24px Georgia, "Times New Roman", serif;
    color: #0080ff;
}

h2 {
    font: normal normal 700 22px Georgia, "Times New Roman", serif;
    color: #000000;
}

h3 {
    font: normal normal 400 18px Georgia, "Times New Roman", serif;
    color: #000000;
}

header, main, footer {
    max-width: 960px;
}

header p {
    font: normal normal 700 18px Georgia, "Times New Roman", serif;
}

header ul {
    list-style-type: none;
}

header ul li:not(:first-child):before {
    content: " | ";
    color: #000000;
}

header ul li a {
    font: normal normal 700 12px Georgia, "Times New Roman", serif;
    color: #0080ff;
}

.about-right {
    font: normal normal 400 16px Georgia, "Times New Roman", serif;
    color: #000000;
    text-align: justify;
    line-height: 1.5;
}

.about-right_link {
    font: normal normal 700 18px Georgia, "Times New Roman", serif;
    color: #0080ff;
}

#basic-information tr td {
    margin: 0;
    font: normal normal 400 16px Georgia, "Times New Roman", serif;
    color: #000000;
    line-height: 2;
}

#basic-information tr td a{
    font: normal normal 400 16px Georgia, "Times New Roman", serif;
    color: #0080ff;
}

#education p,
#additional-education p,
#work-experience p,
#miscellaneous p,
#contact p {
    font: normal normal 400 16px Georgia, "Times New Roman", serif;
    text-align: justify;
    line-height: 2;
    color: #0080ff;
}

#miscellaneous p {
    color: #000000;
}

#skills h3,
#contact h3 {
    color: #0080ff;
}

#skills ul li,
#skills ol li,
#languages ol li {
    font: normal normal 400 16px Georgia, "Times New Roman", serif;
    color: #000000;
    line-height: 1.5;
}

#contact article {
    max-width: 680px;
}

#contact input,
#contact textarea {
    width: 340px;
}

#contact input[type=text],
#contact input[type=email],
#contact textarea {
    width: 100%;
    padding: 12px 20px;
    /*margin: 8px 0;*/
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
#contact input[type=submit] {
    width: 30%;
    display: block;
    background-color: #0080ff;
    color: white;
    border: none;
    cursor: pointer;
}
  
#contact input[type=submit]:hover {
    color: #000000;
    background-color: rgba(0, 128, 255, 0.5);
}
#contact input[type=submit]:focus {
    color: #000000;
    background-color: rgba(0, 128, 255, 0.5);
}
  
#contact article {
    border-radius: 5px;
}

#contact textarea {
    resize: none;
    overflow: auto;
}

header hr,
footer hr {
    border: none;
    border-top: 1px solid #ccc;
 }

 footer h2:last-child span {
    color: #0080ff;
}
